@import '../base/variables.scss';

.balance-container {
  font-size: 36px;
  display: grid;
}

.ant-card-body {
  display: flex;
  justify-content: center;
}

.home-header {
  font-size: 50px;
  padding-left: 75px;
}

.card-container {
  display: flex;
}

.balance-value {
  margin-bottom: 25px;
}

.goal-button.ant-btn {
  background-color: $cyan;
  border-color: $cyan;

  &:hover {
    border-color: #1ae4bd;
    background-color: #1ae4bd;
  }

  &:focus {
    border-color: #1ae4bd;
    background-color: #1ae4bd;
  }
}

.goals-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.goal {
  text-align: center;

  &__name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 15px;
  }

  &__value {
    font-size: 12px;
  }
}