.sider {
  width: 400px;
  border-right: 0;

  &-menu {


    &-item {
      height: 70px;
      font-size: 16px;
      color: black;
      font-weight: bold;
    }
  }
}

.ant-layout-sider{
  max-width: 350px;
  width: 350px;
}

.ant-menu-item > a {
  margin-left: 40px;
}

.sider-menu-item.ant-menu-item > a {
  &:focus, &:hover, &:active {
    color: $cyan;
  }
}

.sider-menu-item.ant-menu-item.ant-menu-item-active.ant-menu-item-selected {
  background: #41f1b833;
}

 .sider-menu-item.ant-menu-item-selected  {
   &:focus, &:hover, &:active {
     color: $cyan;
   }
 }
